<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/MyPurpleTheme"
        tools:targetApi="31">
        <activity
            android:name=".identityMenu"
            android:exported="false" />
        <activity
            android:name=".algebraMenuActivity"
            android:exported="false" />
        <activity
            android:name=".pyramidFormsActivity"
            android:exported="false" />
        <activity
            android:name=".pyramidCalActivity"
            android:exported="false" />
        <activity
            android:name=".pyramidAboutActivity"
            android:exported="false" />
        <activity
            android:name=".pyramidActivity"
            android:exported="false" />
        <activity
            android:name=".triangleFormsActivity"
            android:exported="false" />
        <activity
            android:name=".triangleAboutActivity"
            android:exported="false" />
        <activity
            android:name=".triangleCalActivity"
            android:exported="false" />
        <activity
            android:name=".triangleActivity"
            android:exported="false" />
        <activity
            android:name=".cubeFormsActivity"
            android:exported="false" />
        <activity
            android:name=".cubeAboutActivity"
            android:exported="false" />
        <activity
            android:name=".cubeCalActivity"
            android:exported="false" />
        <activity
            android:name=".cubeActivity"
            android:exported="false" />
        <activity
            android:name=".squareCalActivity"
            android:exported="false" />
        <activity
            android:name=".squareFormsActivity"
            android:exported="false" />
        <activity
            android:name=".squareAboutActivity"
            android:exported="false" />
        <activity
            android:name=".squareActivity"
            android:exported="false" />
        <activity
            android:name=".circleCalActivity"
            android:exported="false" />
        <activity
            android:name=".circleFormsActivity"
            android:exported="false" />
        <activity
            android:name=".circleAboutActivity"
            android:exported="false" />
        <activity
            android:name=".sphereCalActivity"
            android:exported="false" />
        <activity
            android:name=".sphereFormsActivity"
            android:exported="false"
            android:label="@string/title_activity_sphere_forms"
            android:theme="@style/MyPurpleTheme" />
        <activity
            android:name=".sphereAboutActivity"
            android:exported="false"
            android:label="@string/title_activity_sphere_about"
            android:theme="@style/MyPurpleTheme" />
        <activity
            android:name=".circleActivity"
            android:exported="false" />
        <activity
            android:name=".sphereActivity"
            android:exported="false" />
        <activity
            android:name=".threeDimensionalShapes"
            android:exported="false" />
        <activity
            android:name=".twoDimensionalShapesActivity"
            android:exported="false" />
        <activity
            android:name=".aboutMenuActivity"
            android:exported="false" />
        <activity
            android:name=".shapesMenuActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.Design.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>