<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/MyPurpleTheme"
        >
        <activity
            android:name=".SquareIdentityActivity"
            android:exported="false" />
        <activity
            android:name=".SquareIdentityFormsActivity"
            android:exported="false" />
        <activity
            android:name=".SquareIdentityCalActivity"
            android:exported="false" />
        <activity
            android:name=".IdentityMenu"
            android:exported="false" />
        <activity
            android:name=".AlgebraMenuActivity"
            android:exported="false" />
        <activity
            android:name=".PyramidFormsActivity"
            android:exported="false" />
        <activity
            android:name=".PyramidCalActivity"
            android:exported="false" />
        <activity
            android:name=".PyramidAboutActivity"
            android:exported="false" />
        <activity
            android:name=".PyramidActivity"
            android:exported="false" />
        <activity
            android:name=".TriangleFormsActivity"
            android:exported="false" />
        <activity
            android:name=".TriangleAboutActivity"
            android:exported="false" />
        <activity
            android:name=".TriangleCalActivity"
            android:exported="false" />
        <activity
            android:name=".TriangleActivity"
            android:exported="false" />
        <activity
            android:name=".CubeFormsActivity"
            android:exported="false" />
        <activity
            android:name=".CubeAboutActivity"
            android:exported="false" />
        <activity
            android:name=".CubeCalActivity"
            android:exported="false" />
        <activity
            android:name=".CubeActivity"
            android:exported="false" />
        <activity
            android:name=".SquareCalActivity"
            android:exported="false" />
        <activity
            android:name=".SquareFormsActivity"
            android:exported="false" />
        <activity
            android:name=".SquareAboutActivity"
            android:exported="false" />
        <activity
            android:name=".SquareActivity"
            android:exported="false" />
        <activity
            android:name=".CircleCalActivity"
            android:exported="false" />
        <activity
            android:name=".CircleFormsActivity"
            android:exported="false" />
        <activity
            android:name=".CircleAboutActivity"
            android:exported="false" />
        <activity
            android:name=".SphereCalActivity"
            android:exported="false" />
        <activity
            android:name=".SphereFormsActivity"
            android:exported="false"
            android:label="@string/title_activity_sphere_forms"
            android:theme="@style/MyPurpleTheme" />
        <activity
            android:name=".SphereAboutActivity"
            android:exported="false"
            android:label="@string/title_activity_sphere_about"
            android:theme="@style/MyPurpleTheme" />
        <activity
            android:name=".CircleActivity"
            android:exported="false" />
        <activity
            android:name=".SphereActivity"
            android:exported="false" />
        <activity
            android:name=".ThreeDimensionalShapes"
            android:exported="false" />
        <activity
            android:name=".TwoDimensionalShapesActivity"
            android:exported="false" />
        <activity
            android:name=".AboutMenuActivity"
            android:exported="false" />
        <activity
            android:name=".ShapesMenuActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.Design.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>